.button {
  height: 5rem;
  padding: 0 3.2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: background 0.2s;

  img {
    margin-right: 0.8rem;
  }

  &.outlined {
    background: #fff;
    border: 1px solid #835afd;
    color: #835afd;
    transition: all 0.2s;

    &:hover {
      background: #f8f8f8;
      border-color: #6f4bd8;
      color: #6f4bd8;
    }
  }

  &:not(:disabled, .outlined):hover {
    background: #6f4bd8;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}