.modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: visible;

    .modal-box {
      transition: all 0.2s ease-in-out;
      transform: translateY(0);
    }
  }

  .modal-box {
    width: min(59rem, 90%);
    background: #fff;
    border-radius: 0.8rem;
    text-align: center;
    padding: 6.4rem;
    margin: auto;
    transform: translateY(-100vh);


    > img {
      margin-bottom: 2.4rem;
    }

    h2 {
      font-family: 'Poppins', sans-serif;
      color: #29292e;
      margin-bottom: 1.2rem;
    }

    p {
      font-family: 'Roboto', sans-serif;
      color: #737380;
      margin-bottom: 4rem;

      &.hidden {
        visibility: hidden;
      }
    }

    .buttons {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      justify-content: center;
    }
  }
}