.question {
  background: #fefefe;
  border-radius: 0.8rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 2.4rem;

  // Toda .question irmã de .question
  & + .question {
    margin-top: 0.8rem;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    span {
      margin-left: 0.8rem;
      color: #737380;
      font-size: 1.4rem;
    }
  }
}