.question {
  background: #fefefe;
  border-radius: 0.8rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 2.4rem;

  // Toda .question irmã de .question
  & + .question {
    margin-top: 0.8rem;
  }
  
  &.highlighted {
    background: #f4f0ff;
    border: 0.1rem solid #835afd;
    
    footer {
      .user-info {
        span {
          color: #29292e;
        }
      }
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.4rem;
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    span {
      margin-left: 0.8rem;
      color: #737380;
      font-size: 1.4rem;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;
      height: 2.4rem;
  
      &.like-button {
        display: flex;
        align-items: center;
        color: #737380;
        gap: 0.8rem;

        &.admin {
          cursor: default;
        }
  
        &.liked {
          color: #835afd;
  
          svg {
            transition: filter 0.2s;
  
            path {
              stroke: #835afd;
            }
          }
        }
      }
      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}

@media (max-width: 500px) {
  .question {
    footer {
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      gap: 1.6rem;

      .actions {
        width: 100%;
        justify-content: flex-end;
      }
    }
  }
}