.room-code {
  height: 4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  background: #fff;
  border: 0.1rem solid #835afd;
  cursor: pointer;
  display: flex;

  div {
    background: #835afd;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;

    &:hover {
      background: #6f4bd8;
    }
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1.6rem 0 1.2rem;
    width: 24rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media (max-width: 430px) {
  .room-code span {
    display: none;
    visibility: hidden;
  }
}